.value
{
    width: 500px;
    height: 100px;
    margin:0 auto;
    border:2px solid black;
    background-color: orangered;
    border-radius: 12px;
}
.answer
{
    width: 500px;
    margin:0 auto;
    background-color: #ffe800;
    color:black;
    font-size:15px;
    border:1px solid black;
    border-radius: 12px;
}
.d1
{
    width: 300px;
    height: 50px;
    border: 1px solid black;
    border-radius: 12px;
}
.text
{
    margin-top: 20px;
    margin-left: 5px;
}
h4
{
    margin-left: 15px;
    float: left;
}
.button
{
    margin-left: 15px;
}