<div class="value">
  <form>
    <h4> Enter your name to be added: </h4>
    <input name="value" type="text" class="text" [(ngModel)]="model.value">
    <br><br>
    <button type="submit" (click)="addValue()" class="button"> ADD VALUES </button>

  </form>
</div>
<div class="answer"*ngIf="show">
  <table *ngFor="let ar of arrays">
    <tr>
      <td> {{ar.value}} </td>
      <td> {{ar}} </td>
    </tr>
  </table>
</div>